.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 600px 880px 80px;
}
.header {
    grid-column: 1/6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

.sidebar {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    grid-column: 4/6;
    display: flex;
    align-items: center;
}

.cards-container {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.footer {
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd2f;
}

 html, body {
    font-family: 'Roboto', serif;
}

body {
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.nav-logo {
    background-color: #e5e5e5;
    height: 40px;
    width: 162px;
}

.nav-button {
    background-color: black;
    color: white;
    border-radius: 28px;
    width: 130px;
    height: 48px;
    font-size: 16px;
}

h1 {
    font-size: 64px;
}

.header-para {
    font-size: 24px;
}

.img {
    height: 440px;
    width: 500px;
    border-radius: 40px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: card-container;
}

.first-card {
    background-color: #febd2f;
    font-size: 30px;
    border-radius: 40px;
    width: 300px;
    height: 324px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 40px;
    width: 300px;
    height: 324px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

button {
    border: solid 1px #dcdcdc;
    height: 48px;
    width: 143px;
    border-radius: 50px;
    background-color: white;
}

.footer-logo {
    background-color: #febd2f;
    height: 32px;
    width: 129px;
    display: flex;
    align-items: center;
}
